<!DOCTYPE html>
<html>
<head>
  <title>DataDrip</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_importmap_tags %>
  
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style type="text/tailwindcss">
      @theme {
        --color-clifford: #da373d;
      }
  </style>
</head>
<body>
  <%= yield %>
  <% flash.each do |key, value| %>
		<div class="mb-4 p-2 rounded <%= key == 'notice' ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800' %>">
			<%= value %>
		</div>
	<% end %>
</body>
</html>